<h2 mat-dialog-title>{{this.data.title || 'Input Song'}}</h2>
<mat-dialog-content>
  <p>{{this.data.message || ''}}</p>
  <form [formGroup]="songForm">
    <mat-form-field>
      <mat-label>Song Title</mat-label>
      <input matInput formControlName="songTitle" />
      <mat-error *ngIf="songForm.get('songTitle')?.hasError('required')">
        Song title is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Artist</mat-label>
      <input matInput formControlName="songArtist" />
      <mat-error *ngIf="songForm.get('songArtist')?.hasError('required')">
        Artist is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Release Date</mat-label>
      <input matInput [matDatepicker]="releaseDatePicker" formControlName="songReleaseDate" />
      <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #releaseDatePicker></mat-datepicker>
      <mat-error *ngIf="songForm.get('songReleaseDate')?.hasError('required')">
        Eneter A Valid Release Date.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="songPrice" type="number" min="0" step="0.01" />
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="songForm.get('songPrice')?.hasError('required')">
        Price is required.
      </mat-error>
      <mat-error *ngIf="songForm.get('songPrice')?.hasError('min')">
        Price must be greater than or equal to 0.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial [disabled]="!songForm.valid">Confirm</button>
</div>